*.config
*.pdb
/Properties
/obj
/.vs
/bin
*.exe
*.orig
/AcademyCifra
/AcademyCifra.sln.orig
/Lesson4/Lesson4.csproj.orig
/Lesson4/Lesson4_BACKUP_964.csproj
/Lesson4/Lesson4_BASE_964.csproj
/Lesson4/Lesson4_LOCAL_964.csproj
/Lesson4/Lesson4_REMOTE_964.csproj
/Lesson4/Program.cs.orig
/Lesson2/.vs/Lesson2/v16/.suo
/Lesson2/Properties/AssemblyInfo.cs
